<launch>
	<node name="path_reader" pkg="my_test" type="PathReader_ERP42.py" output = 'screen'/>

	<node name="controller" pkg="my_test" type="controller_ERP42.py" />

	<node name="Autonomy_Manager" pkg="my_test" type="Autonomy_Manager_ERP42.py" />

	<node name="Cmd_to_Serial" pkg="my_test" type="cmd_to_serial.py" />
	
</launch>
	